/*INICIO DOBRA RODAPE*/

.main_footer_rights {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #2e8b57;
    border-top: 2px solid #000000;
    font-size: 1.1em;
    color: #666;
    font-weight: 300;
}

.main_footer {
    max-width: 1300px;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    color: #333;
}

.main_footer>header {
    flex-basis: 100%;
}

.main_footer>header h2 {
    font-size: 1.4em;
    margin-bottom: 40px;
}

.main_footer>article {
    flex-basis: 33%;
}

.main_footer>article h2 {
    margin-bottom: 20px;
}

.main_footer>article ul li {
    list-style: none;
    margin: 5px 0;
}

.main_footer>article ul li a {
    color: #ffffff;
}

.main_footer>article ul li a:hover {
    text-decoration: underline;
}

.main_footer_our_pages, .main_footer_links {
    flex-basis: 25%;
}

.main_footer_about {
    flex-basis: 50%;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #666;
    border-top: 2px solid #000000;
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
}

/*FIM DOBRA RODAPÉ*/